<div class="form-horizontal">
    <form action="Create" method="Post">

        <div class="form-group">
            <label>Id</label>
            <input  class="form-control"
                    type="text" name="id"/>
        </div>

        <div class="form-group">
            <label>Prioridade</label>
            <input  class="form-control"
                    type="text" name="prioridade"/>
        </div>

        <div class="form-group">
            <label>Nome Tarefa</label>
            <input  class="form-control"
                    type="text" name="nameTarefa"/>
        </div>

        <div class="form-group">
            <label>Data</label>
            <input  class="form-control"
                    type="text" name="data"/>
        </div>

        <div class="form-group">
            <label>Percentual</label>
            <input  class="form-control"
                    type="text" name="percent"/>
        </div>

        <input  class="btn btn-primary" 
                type="submit" value="Salvar"/>

    </form>
</div>